DATABASE_URL="postgres://user:password@localhost:5432/db_name"
BLISK_EMAIL_NAME="email@example.com"
BLISK_EMAIL_PASSWORD="suspicious-capricorn"
BLISK_REDIS_URL="redis://localhost:6379"
BLISK_SECRET_SEC="suspicious-capricorn"
BLISK_SECRET_EXP=86400
BLISK_AUTH_REFRESH_SEC="suspicious-capricorn"
BLISK_AUTH_REFRESH_EXP=86400
BLISK_AUTH_ACCESS_SEC="suspicious-capricorn"
BLISK_AUTH_ACCESS_EXP=86400